public/web/bundles/
public/app/bootstrap.php.cache
public/app/cache/*
public/app/logs/*
public/build/
public/vendor

# in case devs or automated builds need this locally
public/composer.phar
composer.phar

